<a href="https://colab.research.google.com/github/pedro-h-fernandes/Aula-python-poo/blob/main/lista_de_exercicio_(LISTAS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. **Crie uma lista com os números de 1 a 10 e exiba-a.**
> Bloco com recuo

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numeros:
  print(num)

2. **Crie uma lista vazia e adicione os números pares de 2 a 10 a ela**

In [4]:
numeros = []

for i in range(2, 11,2):
  numeros.append(i)

print(numeros)

[2, 4, 6, 8, 10]

3. **Dada uma lista de números, calcule a soma de todos os elementos.**

In [5]:
numeros = [1, 2, 6, 1, 23, 5, 67, 213,4, 46,7124, 21]

print(sum(numeros))

7513

4. **Dada uma lista de palavras, crie uma nova lista com o comprimento de cada palavra.**

In [11]:
palavras = ['balsdda', 'paralelepipedo', 'pneumoultramicroscopticosilicovulcanocaniotico', 'atum']
tamanhos = []

for plv in palavras:
  tamanhos.append(len(plv))

print(tamanhos)

[7, 14, 46, 4]

5. **Crie uma lista com os quadrados dos números de 1 a 5.**

In [6]:
numeros = [1, 2, 3, 4, 5]
quadrados = []
for num in numeros:
  quadrados.append(pow(num, 2))

print(quadrados)

[1, 4, 9, 16, 25]

6. **Dada uma lista de nomes, verifique se um nome específico está presente nela.**

In [9]:
nomes = ['pedro', 'guilherme', 'gabriel', 'sugaw(v)ara']

for nome in nomes:
  if nome == 'sugaw(v)ara':
    print('O nome sugaw(v)ara existe')

O nome sugaw(v)ara existe

7. **Crie uma lista com os valores pares e outra com os ímpares de 1 a 10**

In [12]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
pares = []
impares = []
for i in range(2, 11,2):
  pares.append(i)

for i in range(1, 11,2):
  impares.append(i)

print(pares)
print(impares)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

8. **Dada uma lista de números, substitua todos os valores pares por zero.**

In [19]:
numeros = [i for i in range(1, 21)]

for i in range(len(numeros)):
    if numeros[i] % 2 == 0:
        numeros[i] = 0

print(numeros)

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 11, 0, 13, 0, 15, 0, 17, 0, 19, 0]

9. **Dada uma lista de strings, ordene-a em ordem alfabética**

In [22]:
strings = ["Cachorro", "Gato", "Carro", "Mesa", "Computador"]

strings.sort()
print(strings)

['Cachorro', 'Carro', 'Computador', 'Gato', 'Mesa']

10. **Crie uma lista reversa dos números de 1 a 5**

In [23]:
numeros = [i for i in range(1, 6)]

numeros.sort(reverse=True)

print(numeros)

[5, 4, 3, 2, 1]

11. **Dada uma lista de números, remova os duplicados**

In [26]:
numeros = [ 1, 1, 4, 5, 6, 3, 7, 1, 45, 8, 3, 7]

numeros_sem_repeticao = list(set(numeros))

print(numeros_sem_repeticao)

[1, 3, 4, 5, 6, 7, 8, 45]

12. **Crie uma lista com os cubos dos números de 1 a 5.**

In [27]:
numeros = [1, 2, 3, 4, 5]
cubos = []
for num in numeros:
  cubos.append(pow(num, 3))

print(cubos)

[1, 8, 27, 64, 125]

13.Dada uma lista de palavras, crie uma nova lista apenas com as palavras que começam com a letra 'A'.

In [28]:
lista_de_paises = ["Brasil", "Estados Unidos", "França", "Japão", "Austrália"]

paises_com_a = [pais for pais in lista_de_paises if pais.startswith('A')]

print(paises_com_a)

['Austrália']

14. **Dada uma lista de números, calcule a média**

In [30]:
import random

# Define o tamanho da lista e o intervalo dos números
tamanho_lista = 10
intervalo_numeros = range(1, 21)

# Gera uma lista de números aleatórios com alguns números repetidos
lista_de_numeros = random.sample(intervalo_numeros, tamanho_lista)
soma = 0
for num in lista_de_numeros:
  soma = soma + num

media = soma/tamanho_lista

print(lista_de_numeros, '-> media:', media)

[4, 7, 2, 18, 15, 16, 12, 1, 6, 10] -> media: 9.1